* {
  height: auto;
  width: auto;
}

.header {
  display: flex;
  position: relative;
  height: 70px;
  background-color: rgb(176, 207, 219);
  box-shadow: 1px 1px;
}

.logoin img {
  position: absolute;
  height: 50px;
  width: 50px;
  margin: 5px 0 5px 40px;
  top: 5px;
  cursor: pointer;
}
.design {
  margin: 25px 0 5px 100px;
  font-size: large;
  cursor: pointer;
}
.btn {
  position: absolute;
  margin: 25px 0 5px 65%;
}
a {
  font-size: larger;
  text-decoration: none;
  color: rgb(85, 84, 84);
  text-align: center;
  margin: 0 30px 0 0;
  padding: 2px 5px 2px 5px;
  border-radius: 10%;
}

.maincontent {
  margin-top: -33px;
  
  position: relative;
  min-height: 600px;
  width: 100%;
}

.maincontent .que {
  align-items: center;
}

h1 {
  font-size: 50px;
  padding-top: 50px;
}
.que {
  height: fit-content;
  width: fit-content;
  margin: 0px 30% 0 20%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.mainbox {
  margin-top: 50px;
  position: absolute;
  display: flex;
  height: 350px;
  width: 70%;
  margin-left: 15%;
}

.post {
  height: 350px;
  width: 25%;
  margin-left: 6%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imgcontent {
  /* margin: 2px 2px 2px 2px; */
  height: 190px;
  background-color: #7da9cf;
}
.uppertext {
  height: 70px;
}

.undertext {
  margin: 20px 0 0 20px;
  width: fit-content;
}

.buy {
  padding-left: 20px;
  padding-right: 20px;
}

h6 {
  margin-top: -15px;
  margin-left: 10px;
}
h2 {
  margin-left: 10px;
}

.postimage {
  height: 170px;
  width: 170px;
  margin-left: 40px;
  align-items: center;
}
hr {
  border-color: black;
}
