body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    text-align: justify;
    background-color: #90547d;
    border: 1px solid black;
    color: #fff;
    padding: 1px;
    text-align: center;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 15%;
    z-index: 1001; /* Set a higher z-index for the header */
}

.logo-container {
    margin-left: 30px; /* Adjust the margin as needed */
}

.logo-container img {
    width: 120px; /* Adjust the width of your logo as needed */
    height: auto;
}

h1 {
    flex-grow: 1;
}

img {
    height: 130px;
}

nav {
    width: 200px;
    height: 100%;
    margin-top: 107px; /* Remove the margin-top */
    background-color: #90547d;
    border: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    padding-top: 20px;
    z-index: 1000; /* Set a lower z-index for the sidebar */
}

nav a {
    display: block;
    border: 1px solid black;
    padding: 15px;
    margin: 10px;
    text-align: center;
    color: #eeeeee;
    text-decoration: none;
    cursor: pointer;
}

main {
    margin-top: 15%; /* Adjust the margin-top to accommodate the fixed header */
    margin-left: 220px; /* Adjust the margin-left to accommodate the fixed sidebar */
    padding: 20px;
}

footer {
    background-color: #90547d;
    border: 1px solid black;
    color: #fff;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%; /* Adjust as needed */
    z-index: 1001; /* Set a higher z-index for the footer */
}

.content {
    display: none;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.image-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2 {
    font-size: xx-large;
    text-align: center;
    font-family: 'DM Sans';
    color: black;
}

p {
    font-family: cursive;
    font-weight: 700;
    font-style: oblique;
}
